/.vscode
/__pycache__
**/__pycache__
/venv
/model/anime/*
/model/manga/*
/model/evaluation_results.json
/model/evaluation_results_anime.json
/model/evaluation_results_manga.json
/src/AniSearchModel.egg-info/
/logs
model/manga.zip
model/anime.zip
