/.vscode
/__pycache__
**/__pycache__
/venv
/venv_linux
/model/anime/*
/model/manga/*
/model/evaluation_results.json
/model/evaluation_results_anime.json
/model/evaluation_results_manga.json
/src/AniSearchModel.egg-info/
/logs
model/manga.zip
model/anime.zip
/checkpoints
model/fine_tuned_sbert_anime_model
model/fine_tuned_sbert_model_anime
model/anime_pairs.csv
site