# Core dependencies
numpy
pandas
torch
tqdm

# NLP and machine learning
sentence-transformers
transformers
scikit-learn

# Text processing
nltk
contractions
unidecode

# Data handling
datasets

# Logging and utilities
tensorboard

# mkdocs
mkdocs
mkdocs-git-authors-plugin
mkdocs-git-committers-plugin-2
mkdocs-git-revision-date-localized-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocs-minify-plugin
mkdocs-open-in-new-tab
mkdocs-panzoom-plugin
mkdocstrings